*, ::after, :before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    font-family: 'Roboto', sans-serif;
    background: #1D2026;
    position: relative;
}
h1, h2, h3,
h4, h5, h6,
th{
    font-family: 'Montserrat', sans-serif;
}
header{
    color: #fff;
    text-align: center;
    padding: 2em 0;
}
nav{
    width: 100%;
    background-color: #16181d;
    transition: all .3s ease-out;
    border-right: 1px solid hsla(0, 0%, 0%, 0.589);
    position: relative;
}
ul.menu_lista{
    padding: 1em 0;
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: space-around;
    margin: 0 auto;
}
ul.menu_lista li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em 4em;
    width: 100%;
    text-align: center;
    position: relative;
}
ul.menu_lista li a::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 1px;
    background: #5D57A2;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}
ul.menu_lista li a:hover::after{
    width: 100%;
    left: 0;
    transform: translateX(0);
}
.active{
    background-color: #5D57A2;
}
.cont_menu_icon{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    position: absolute;
    right: 2em;
    top: 2em;
    overflow: hidden;
    transform: translateY(-50%);
    z-index: 10;
}
.menu{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}
.menu div{
    width: 100%;
    height: 20%;
    background: rgb(255, 255, 255);
    transition: all .3s ease;
}
.active_icon_menu div{
    position: absolute;
}
.active_icon_menu div:first-child{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.active_icon_menu div:nth-child(2){
    width: 0;
}
.active_icon_menu div:Last-child{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.content{
    display: flex;
    justify-content: center;
    height: 100%;
}
.cont_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    width: 100%;
    padding-bottom: 1em;
}

.formulario{
    color: #ffffff;
    max-width: 500px;
    width: 100%;
    padding: 4em 3rem 1em;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    font-size: 1.3rem;
}
.formulario input,
.formulario textarea{
    padding: 1em 1em .5em 1em;
    width: 100%;
    margin-bottom: 2em;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffff;
    background-color: transparent;
    color: #fff;
}
.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16181d;
    max-width: 500px;
    width: 100%;
}
.botones div{
    background-color: #5D57A2;  
    width: 100%;
    height: 100px;
    cursor: pointer;
    transition: all .3s ease-in;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones div:hover{
    background-color: #ffffff;
    color:#5D57A2 ;
}
.clientes{
    max-width: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}
.clientes > table{
    background-color: #fff;
    max-width: 100%;
    padding: 2em 1em;
}
.clientes table th,
.clientes table td{
    min-width: 130px;
    text-align: center;
    padding: 1em 0;
}
.clientes table td{
    border-bottom: 1px solid rgb(206, 206, 206);
}
.clientes table > tr{
    border-bottom: 1px solid rgb(206, 206, 206);
}
.btn-borrar{
    color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    z-index: 10;
}
.noClientes{
    text-align: center;
}
.TablaSelec:hover{
    background: rgb(236, 236, 236);
    cursor: pointer;
}
.leerTabla{
    cursor: pointer;
}
.all_formulario{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cont_formulario_cambios{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.938);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_formulario_cambios .all_formulario{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.cerrar_pop{
    background: rgb(255, 255, 255);
    color: #5D57A2;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.cont_tabla{
    width: 100%;
    height: 200px;
    overflow: hidden scroll;
}
.active_menu{
    max-height: 300px !important;
    padding-top: 4em !important;
}
@media screen and (max-width: 1200px) {
    .content{
        flex-wrap: wrap;
    }
    .clientes,
    .cont_formulario{
        max-width: 90%;
    }
    .clientes{
        padding-left: 4em;
        overflow-x: scroll;
    }
}
@media screen and (max-width: 600px){
    ul.menu_lista{
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: all .3s ease-in;
    }
    .clientes{
        padding-left: 15em;
    }
    .cont_menu_icon{
        display: flex;
    }
}